html, body {
    min-height: 100vh;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    font-family: 'Helvetica';
    font-style: normal;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 0px 80px;
    align-items: center;
    background: #FFFFFF;
    border-bottom: 1px solid #EFF6FF;
    height: 80px;
}

header nav #menu {
    display: flex;
    justify-content: center;
}

header nav #menu ul {
    display: flex;
    list-style: none;
    column-gap: 20px;
}

header nav #menu ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #27272A;
}

header nav #menu ul li .soon {
    opacity: 0.5;
}

header nav #others {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 0px 20px 0px 0px;
}

header nav #others ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    column-gap: 20px;
}

header nav #others ul li div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
}

header nav #others #sign button {
    padding: 8px 12px;
    background: #1E40AF;
    border: none;
    border-radius: 12px;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

/* Section */
section h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
}

/* Why US */
section#why-us {
    background: #3B82F6;
    padding: 40px 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section#why-us .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

section#why-us .content .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 12px 0px;
    gap: 8px;
}

section#why-us .content .item .image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px;

    background: #2563EB;
    border-radius: 100px;
}

section#why-us .content .item .title {
    font-weight: 700;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */

text-align: center;

/* green/50 */

color: #F0FDF4;
}

section#why-us .content .item .description {
    font-weight: 400;
font-size: 14px;
line-height: 120%;
/* or 17px */

text-align: center;

/* green/50 */

color: #F0FDF4;
}