html, body {
    min-height: 100vh;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    font-family: 'Helvetica';
    font-style: normal;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 0px 80px;
    align-items: center;
    background: #FFFFFF;
    border-bottom: 1px solid #EFF6FF;
    height: 80px;
}

header nav #menu {
    display: flex;
    justify-content: center;
}

header nav #menu ul {
    display: flex;
    list-style: none;
    column-gap: 20px;
}

header nav #menu ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #27272A;
}

header nav #menu ul li .soon {
    opacity: 0.5;
}

header nav #others {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    padding: 0px 20px 0px 0px;
}

header nav #others ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    column-gap: 20px;
}

header nav #others ul li div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
}

header nav #others #sign button {
    padding: 8px 12px;
    background: #1E40AF;
    border: none;
    border-radius: 12px;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

/* Section */
section h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
}

/* Why US */
section#why-us {
    background: #3B82F6;
    padding: 40px 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section#why-us .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

section#why-us .content .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 12px 0px;
    gap: 8px;
}

section#why-us .content .item .image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px;

    background: #2563EB;
    border-radius: 100px;
}

section#why-us .content .item .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #F0FDF4;
}

section#why-us .content .item .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #F0FDF4;
}

/* Reservation Center */

section#reservation-center {
    display: flex;
    flex-direction: row;
    padding: 40px 85px;
    border-bottom: 1px solid #F4F4F5;
}

section#reservation-center h2 {
    display: flex;
    flex-direction: column;
    color: #29378C;
    margin-bottom: 40px;
}

section#reservation-center h2 span {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #1E40AF;
}

section#reservation-center #bloc-1,
section#reservation-center #bloc-2 {
    flex-grow: 1;
    width: 100%;
}

section#reservation-center #bloc-2 {
    display: flex;
    justify-content: center;
    position: relative;
}

section#reservation-center #bloc-1 .items,
section#reservation-center #bloc-2 .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

section#reservation-center #bloc-1 .items .item,
section#reservation-center #bloc-2 .items .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

section#reservation-center #bloc-2 .bg-image {
    z-index: 0;
    height: 100%;
}

section#reservation-center #bloc-2 .bg-image img {
    width: 510px;
    height: 428px;
}

section#reservation-center #bloc-2 .items {
    z-index: 2000;
}

section#reservation-center #bloc-2 .items .item {
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    width: 60%;
    height: 92px;
    padding-left: 20px;
    padding-right: 10px;
}

section#reservation-center #bloc-1 .items .item .image,
section#reservation-center #bloc-2 .items .item .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 40px;
    height: 40px;
    background: #DBEAFE;
    border-radius: 100px;
}

section#reservation-center #bloc-1 .items .item:nth-of-type(even) .image {
    background-color: #93C5FD;
}

section#reservation-center #bloc-2 .items .item:nth-of-type(1) {
    position: absolute;
    top: 40px;
    right: 0px;
}

section#reservation-center #bloc-2 .items .item:nth-of-type(1) .image {
    background-color: #EFF6FF;
}

section#reservation-center #bloc-2 .items .item:nth-of-type(2) {
    position: absolute;
    left: 107px;
    top: 166px;
}

section#reservation-center #bloc-2 .items .item:nth-of-type(2) .image {
    background-color: #2563EB;
}

section#reservation-center #bloc-2 .items .item:nth-of-type(3) {
    position: absolute;
    left: 250px;
    top: 296px;
}

section#reservation-center #bloc-2 .items .item:nth-of-type(3) .image {
    background-color: #93C5FD;
}

/* Discover Destination  */
section#discover-destinations {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

section#discover-destinations h2 {
    line-height: 48px;
    color: #29378C;
    width: 50%;
    margin-bottom: 26px;
}

section#discover-destinations .travels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 13px
}

section#discover-destinations .travels .item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding-bottom: 20px;
    box-sizing: content-box;

    flex: 1 1 24%;
    height: 390px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 16px;
}

section#discover-destinations .travels .item.abidjan-paris {
    background-image: url("../images/travel-ab-pa.svg");;
}

section#discover-destinations .travels .item.casa-caire {
    background-image: url("../images/travel-casa-ca.svg");;
}

section#discover-destinations .travels .item.bangla-istan {
    background-image: url("../images/travel-ban-ista.svg");;
}

section#discover-destinations .travels .item.banga-chennai {
    background-image: url("../images/travel-ban-che.svg");;
}

section#discover-destinations .travels .item.londres-tokyo {
    background-image: url("../images/travel-lon-tok.svg");
    flex-basis: 45%;
}

section#discover-destinations .travels .item.montreal-lyon {
    background-image: url("../images/travel-mon-lyon.svg");;
}

section#discover-destinations .travels .item.dla-kigali {
    background-image: url("../images/travel-dla-kig.svg");;
}

/* Loved Hotels */
section#loved-hotels {
    display: flex;
    flex-direction: column;
    padding: 80px;
    margin-bottom: 100px;
}

section#loved-hotels header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

section#loved-hotels header h2 {
    line-height: 48px;
    color: #29378C;
    width: 50%;
}

section#loved-hotels header .consult {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #1E40AF;
}

section#loved-hotels .hotels {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 13px;
}

section#loved-hotels .hotels .hotel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    flex: 1 1 32%;
}

section#loved-hotels .hotels .hotel .image {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 16px;
    height: 320px;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}

section#loved-hotels .hotels .hotel .caption {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section#loved-hotels .hotels .hotel .caption .name {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #27272A;
}

section#loved-hotels .hotels .hotel .caption .address {
    font-size: 16px;
    line-height: 120%;
    color: #52525B;
}

section#loved-hotels .hotels .hotel .caption .stars {
    color: #EAB308;
}

section#loved-hotels .hotels .hotel .caption .see-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 12px;

    border: 1px solid #93C5FD;
    border-radius: 12px;
    background-color: white;

    font-size: 16px;
    line-height: 120%;

    color: #2563EB;
    margin-top: 18px;
}

section#loved-hotels .hotels .hotel .caption .see-more:hover {
    background: #2563EB;
    color: white;
}

section#loved-hotels .hotels .hotel.st-jacques .image {
    background-image: url("../images/residence-st-jacques.svg");
}

section#loved-hotels .hotels .hotel.bercy-village .image {
    background-image: url("../images/hotel-bercy-village.svg");
}

section#loved-hotels .hotels .hotel.kemal .image {
    background-image: url("../images/kemal-hotel.svg");
}

section#loved-hotels .hotels .hotel.beausejour .image {
    background-image: url("../images/hotel-beausejour.svg");
}

section#loved-hotels .hotels .hotel.st-jacques-congo .image {
    background-image: url("../images/residence-st-jacques-congo.svg");
}

section#loved-hotels .hotels .hotel.mikhael .image {
    background-image: url("../images/mikhael-hotel.svg");
}

/* Frequently Asked Questions */
section#faq {
    background: #FAFAFA;
    padding: 60px 80px;
}

section#faq h2 {
    font-size: 40px;
    line-height: 120%;
    color: #29378C;
    width: 50%;
}

section#faq .questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* gap: 12px; */

    width: 50%;
    margin-left: auto;
}

section#faq .questions .question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 12px;
    width: 100%;

    box-sizing: border-box;
    border-bottom: 1px dashed #E4E4E7;
}

section#faq .questions .question .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 100%;
}

section#faq .questions .question .header .title {
    font-size: 20px;
    line-height: 120%;
    color: #27272A;
}

section#faq .questions .question .header .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 40px;
    height: 40px;
    background-color: #F4F4F5;
    border-radius: 100px;
    background-image: url("../images/carret-up.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

section#faq .questions .question .description {
    font-size: 14px;
    line-height: 120%;
    color: #52525B;
    display: none;
}

section#faq .questions .question.open {
    padding: 12px;
    gap: 12px;
    background-color: #FFFFFF;
    border-radius: 12px;
}

section#faq .questions .question.open .header .icon {
    background: #DBEAFE;
    background-image: url("../images/carret-down.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

section#faq .questions .question.open .description {
    display: block;
}

/* Newsletter */
section#newsletter {
    background: #1E40AF;
    padding: 30px 0;
}

section#newsletter .content {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 43%;
    margin: 0 auto;
    text-align: center;
}

section#newsletter h2 {
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 4px 0;
}

section#newsletter .subtitle {
    font-size: 20px;
    line-height: 23px;
    color: #E4E4E7;
}

section#newsletter .subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    margin-top: 18px;
}

section#newsletter .subscribe input {
    background: #FFFFFF;
    border-radius: 12px;
    border: none;
    padding: 16px 12px;
    width: 100%;
}

section#newsletter .subscribe button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    background: #1E40AF;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    position: absolute;
    right: 16px;
}

/* Footer */

footer {
    background: #FFFFFF;
    border: 1px solid #F4F4F5;
    padding: 40px 80px;
}

footer nav {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 23px;

    background: #FAFAFA;
    border-radius: 20px;
    border: none;
}

footer nav > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer nav h4 {
    margin-bottom: 1em;
}

footer nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer nav ul a {
    text-decoration: none;
}

footer nav ul li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}

footer nav ul li p {
    margin-bottom: 15px;
}

footer nav button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 12px;

    background: #1E40AF;
    border-radius: 12px;
    border: none;
    color: white;
    width: 100%;
}

footer hr {
    background: #E4E4E7;
    height: 1px;
    margin-bottom: 15px;
    margin-top: 20px;
}

footer .mentions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .mentions .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
}